.journal_body {
  display: flex;

  height: 150vh;
  align-items: flex-start;
  padding-bottom: 20%;
}

.journal,
.entries {
  display: flex;
  flex-direction: column;
  margin: 5%;
  border-radius: 25px;
  flex: 0 1 calc(50% - 1em);
  background-color: #f9f7fc;
  height: 30rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.journal_top {
  display: flex;
  align-items: center;
  width: 53%;
  margin: 1rem;
  justify-content: space-between;
  position: relative;
}

.button {
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: inherit;
  background: transparent;
  color: black;
  transition: 0.3s ease all;
  text-decoration: none;
}
.button:hover {
  border-color: #b5b1d1;
  background: rgba(#b5b1d1, 0.1);
  color: rgb(162, 162, 246);
}

.button.save-button {
  border: 1px solid #b5b1d1;
  margin-left: 13rem;
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.entries {
  background-color: #eff4fa;
  height: 50rem;
}

img {
  border-radius: 25px;
  width: min(95%);
  height: auto;
}
