/* form {
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
}
form button {
  color: black;
  background: var(--lav_light_blue);

  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rosybrown;
  color: white;
}
/* .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.todo-list {
  list-style: none;
  padding: 0;
}

.todo {
  margin: 1rem;
  padding: 0.8rem;

  align-items: baseline;
  display: flex;
  background-color: var(--lav_light_blue);
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: var(--lav_evenmorelight_blue);
  color: black;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 10%;
}

/* .trash-btn {
  margin: 0.5rem;
} */
.complete-btn {
  background: var(--lav_pink);
  margin: 1rem;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #756d6b;
  cursor: pointer;
  width: 50%;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: silver;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
