.trackerbox {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 2%;
}

.trackerbox.heartbuttons {
  display: flex;
  flex-direction: row;
  width: 10rem;
}

.trackerbox.moodselect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

button.sad {
  color: green;
}

button.happy {
  color: blue;
}
button.grumpy {
  color: red;
}
button.neutral {
  color: yellow;
}
button.exited {
  color: pink;
}

button.heartbutton {
  margin: 1rem;
}

button:disabled {
  cursor: default;
  color: #848db5;
}

button:disabled:hover {
  color: #61688b;
}
