// colors
$dark: rgba(177, 183, 209, 0.3);
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: rgba(177, 183, 209, 0.3);
// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
