@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:wght@900&display=swap");

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 93%;
  font-family: "Josefin Sans", sans-serif !important;

  /* border: 3px solid greenyellow; */
}

.empty-space {
  border: 3px solid blue;
  height: 10vh;
  width: 100%;
}
